
@import "compass/reset";
@import "susy";
@import "compass/css3";
@import "compass/layout/sticky-footer";
@import "compass/layout/stretching";

$gradients-layout:diagonal;
@import "gradients/*.png";
@include all-gradients-sprites;

@include font-face("ShareRegular", font-files("Share-Regular.otf"));

$column-width   : 4em;
$gutter-width   : 1em;
$grid-padding   : 1em;

$total-columns  : 5;
$tablet 	: 10;
$desktop        : 12;



body {
    background-color: #ECECEC;
    font-family: Arial;
}

p {
    font-size: 0.8em;
    line-height: 1.6em;
    margin-bottom: 1em;
}

#{headings(1, 3)} {
    font-family: ShareRegular;
}

h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 1.4em;
    margin-bottom: 0.5em;
}

h3 {
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

.page {
    @include container($total-columns, $tablet, $desktop);
    background-color: #FFFFFF;  
}

section {

}
.gradients-gradient-1 { background-color: #FF9000; color: #FFFFFF; }
.gradients-gradient-2 { background-color: #5E5E5E; color: #FFFFFF; }
.gradients-gradient-3 { background-color: #989898; }
.gradients-gradient-4 { background-color: #FFFFFF; }

.person {
    min-height: 200px;

}

.forum, .maillist {
    min-height: 40em;
}

.box, .box-no-padding {
    margin-bottom: 1em;
    img {
        width: 100%;
        margin-bottom: 1em;
    }
    p { margin-bottom: 0; }
}

.box {
    padding: 1em; 
}

.logo {
    height: 5em;
    img { height: 100%; }
}
.no-margin-bottom {
    margin-bottom: 0 !important;
}

section { clear: both; }


@include at-breakpoint($tablet) {
    @include with-grid-settings($desktop, 4em, 0em, 0em) {
            .span-3-12-no-gutter { @include span-columns(3, $desktop); }
            .span-6-12-no-gutter { 
                @include span-columns(6, $desktop);
                .span-6-12:first-child + .span-6-12 {
                    @include omega;
                }
            }
    }
    .span-2-12 { @include span-columns(2, $desktop); }
    .span-3-12 { @include span-columns(3, $desktop); }
    .span-6-12 { @include span-columns(6, $desktop); }
    .span-9-12 { @include span-columns(9, $desktop); }
    .span-10-12 { @include span-columns(10, $desktop); }
    .span-3-10 { @include span-columns(3, 10); }
    .span-7-10 { @include span-columns(7, 10); }    
    .span-5-10 { @include span-columns(5, 10); }
    
    .last { @include omega; }
    
    nav {
        line-height: 1.4em;
        font-family: ShareRegular;
        text-transform: uppercase;
        a {
            color: #000000;
            text-decoration: none;
            &:hover, &:active {
                color: #F89125;
            }
        }
    }
    nav.mainmenu {
        height: 5em;
        padding-bottom: 0.7em;
        ul {
            margin-top: -0.7em;
            height: 1em;
            position: relative;
            top: 50%;
            float: right;
            li {
                float: left;
                margin-left: 1em;
            }
        }
            
    }


}
