<!DOCTYPE html>
{namespace typo3=TYPO3\Neos\ViewHelpers}
{namespace ts=TYPO3\TypoScript\ViewHelpers}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="DC.title" content="" />
	<meta name="DC.creator" content="" />
	<title>typo3.dk</title>
	<f:base />
	<f:section name="stylesheets">
		<link rel="stylesheet" href="../../../Public/Stylesheets/normalize.css">
		<link rel="stylesheet" href="../../../Public/Stylesheets/Screen.css" media="screen">
		<link rel="stylesheet" href="../../../Public/Stylesheets/Print.css" media="print">
	</f:section>

</head>
<body>
<f:section name="body">
	<div class="site-container t3-reloadable-content">
		<h1>A freshly created template for your new site!</h1>
		<nav class="menu"><ts:renderTypoScript path="parts/menu" /></nav>
		<nav class="breadcrumb"><ts:renderTypoScript path="parts/breadcrumb" /></nav>
		<div class="content"><ts:renderTypoScript path="sections/main" /></div>
	</div>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
 	<script src="../../../Public/JavaScript/Main.js"></script>

</f:section>
</body>
</html>