
html, body {
	font-family: Arial, sans-serif;
	color: $color-dark-grey;
}

.site-container {
	margin: 0px auto;
	padding: 40px;
	width: 960px;
}
h1 {
	@include font-size(24);
}
h2 {
	@include font-size(20);
}
h3 {
	@include font-size(16);
}
