/* line 17, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: ShareRegular;
  src: url("../Fonts/Share-Regular.otf");
}

/* line 21, ../../Private/SASS/screen.scss */
body {
  background-color: #ECECEC;
  font-family: Arial;
}

/* line 26, ../../Private/SASS/screen.scss */
p {
  font-size: 0.8em;
  line-height: 1.6em;
  margin-bottom: 1em;
}

/* line 32, ../../Private/SASS/screen.scss */
h1, h2, h3 {
  font-family: ShareRegular;
}

/* line 36, ../../Private/SASS/screen.scss */
h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

/* line 41, ../../Private/SASS/screen.scss */
h2 {
  font-size: 1.4em;
  margin-bottom: 0.5em;
}

/* line 46, ../../Private/SASS/screen.scss */
.page {
  *zoom: 1;
  max-width: 24em;
  _width: 24em;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFFFFF;
}
/* line 38, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.page:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 49em) {
  /* line 46, ../../Private/SASS/screen.scss */
  .page {
    max-width: 49em;
  }
}
@media (min-width: 59em) {
  /* line 46, ../../Private/SASS/screen.scss */
  .page {
    max-width: 59em;
  }
}

/* line 55, ../../Private/SASS/screen.scss */
.gradient-1 {
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #d9891e), color-stop(100%, #ff9000));
  background-image: -webkit-linear-gradient(left top, #d9891e, #ff9000);
  background-image: -moz-linear-gradient(left top, #d9891e, #ff9000);
  background-image: -o-linear-gradient(left top, #d9891e, #ff9000);
  background-image: linear-gradient(left top, #d9891e, #ff9000);
  color: #FFFFFF;
}

/* line 60, ../../Private/SASS/screen.scss */
.gradient-2 {
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #5e5e5e), color-stop(100%, #909090));
  background-image: -webkit-linear-gradient(left top, #5e5e5e, #909090);
  background-image: -moz-linear-gradient(left top, #5e5e5e, #909090);
  background-image: -o-linear-gradient(left top, #5e5e5e, #909090);
  background-image: linear-gradient(left top, #5e5e5e, #909090);
  color: #FFFFFF;
}

/* line 65, ../../Private/SASS/screen.scss */
.gradient-3 {
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #a4a4a4), color-stop(100%, #b2b2b2));
  background-image: -webkit-linear-gradient(left top, #a4a4a4, #b2b2b2);
  background-image: -moz-linear-gradient(left top, #a4a4a4, #b2b2b2);
  background-image: -o-linear-gradient(left top, #a4a4a4, #b2b2b2);
  background-image: linear-gradient(left top, #a4a4a4, #b2b2b2);
  color: #000000;
}

/* line 70, ../../Private/SASS/screen.scss */
.gradient-4 {
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #d9d9d9), color-stop(20%, #ffffff));
  background-image: -webkit-linear-gradient(left top, #d9d9d9, #ffffff 20%);
  background-image: -moz-linear-gradient(left top, #d9d9d9, #ffffff 20%);
  background-image: -o-linear-gradient(left top, #d9d9d9, #ffffff 20%);
  background-image: linear-gradient(left top, #d9d9d9, #ffffff 20%);
  color: #000000;
}

/* line 75, ../../Private/SASS/screen.scss */
.person {
  min-height: 200px;
}

/* line 80, ../../Private/SASS/screen.scss */
.forum, .maillist {
  min-height: 40em;
}

/* line 84, ../../Private/SASS/screen.scss */
.box, .box-no-padding {
  margin-bottom: 1em;
}
/* line 86, ../../Private/SASS/screen.scss */
.box img, .box-no-padding img {
  width: 100%;
}

/* line 91, ../../Private/SASS/screen.scss */
.box {
  padding: 1em;
}

/* line 95, ../../Private/SASS/screen.scss */
.logo {
  height: 5em;
}
/* line 97, ../../Private/SASS/screen.scss */
.logo img {
  height: 100%;
}

/* line 100, ../../Private/SASS/screen.scss */
section {
  clear: both;
}

@media (min-width: 49em) {
  /* line 104, ../../Private/SASS/screen.scss */
  .span-3-12-no-gutter {
    width: 25%;
    float: left;
    margin-right: 0%;
  }

  /* line 105, ../../Private/SASS/screen.scss */
  .span-6-12-no-gutter {
    width: 50%;
    float: left;
    margin-right: 0%;
  }
  /* line 107, ../../Private/SASS/screen.scss */
  .span-6-12-no-gutter .span-6-12:first-child + .span-6-12 {
    float: right;
    margin-right: 0;
  }

  /* line 112, ../../Private/SASS/screen.scss */
  .span-2-12 {
    width: 15.25424%;
    float: left;
    margin-right: 1.69492%;
  }

  /* line 113, ../../Private/SASS/screen.scss */
  .span-3-12 {
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%;
  }

  /* line 114, ../../Private/SASS/screen.scss */
  .span-6-12 {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
  }

  /* line 115, ../../Private/SASS/screen.scss */
  .span-9-12 {
    width: 74.57627%;
    float: left;
    margin-right: 1.69492%;
  }

  /* line 116, ../../Private/SASS/screen.scss */
  .span-10-12 {
    width: 83.05085%;
    float: left;
    margin-right: 1.69492%;
  }

  /* line 117, ../../Private/SASS/screen.scss */
  .span-3-10 {
    width: 28.57143%;
    float: left;
    margin-right: 2.04082%;
  }

  /* line 118, ../../Private/SASS/screen.scss */
  .span-7-10 {
    width: 69.38776%;
    float: left;
    margin-right: 2.04082%;
  }

  /* line 120, ../../Private/SASS/screen.scss */
  .last {
    float: right;
    margin-right: 0;
  }

  /* line 122, ../../Private/SASS/screen.scss */
  nav {
    line-height: 1.4em;
    font-family: ShareRegular;
    text-transform: uppercase;
  }
  /* line 126, ../../Private/SASS/screen.scss */
  nav a {
    color: #000000;
    text-decoration: none;
  }
  /* line 129, ../../Private/SASS/screen.scss */
  nav a:hover, nav a:active {
    color: #F89125;
  }

  /* line 134, ../../Private/SASS/screen.scss */
  nav.mainmenu {
    height: 5em;
    padding-bottom: 0.7em;
  }
  /* line 137, ../../Private/SASS/screen.scss */
  nav.mainmenu ul {
    margin-top: -0.7em;
    height: 1em;
    position: relative;
    top: 50%;
  }
  /* line 142, ../../Private/SASS/screen.scss */
  nav.mainmenu ul li {
    float: right;
    margin-left: 1em;
  }

  /* line 149, ../../Private/SASS/screen.scss */
  nav.submenu {
    padding: 0 1em 0 1em;
  }
}
